.container {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('../img/back.jpg');
	background-repeat: repeat;
	background-size: content;
  width: 100%;
  height: 100vh;
	padding: 0 80px;
}

.s_width {
	max-width: 1170px;
	min-width: 800px;
	position: relative;
  margin: 0 auto;
  text-align: left;
}

header {
  text-align: left;
}

header h1 {
	font-size: 60px;
	font-weight: bold;
	color: #F9911A;
	text-shadow: 3px 3px 0px #8EC63B; 
	display: inline-block;
	position: relative;
	letter-spacing: 0;
	line-height: 1;
	margin: 30px 0;
}
.stroke {
	position: relative;
	z-index: 5;
	font-size: 61px;
	-webkit-text-stroke: 1px white;
}

#big-letter {
	z-index: 0;
	line-height: 1;
	font-size: 210px;
	position: absolute;
	color: #f7711a;
	top: -53px;
  right: -80px;
	text-shadow: 6px 5px 0px #8EC63B;   
}

#second-word {
	position: relative;
	right: -240px;

}

.title_primary {
	line-height: 0.8;
	margin: 0;
	font-size: 32px;
	color:  #4a3faf;
	text-align: left;
  font-weight: 800;
  /* font-style: italic; */
}

.title_primary span {
  color: #e52783;
}

.navigation {
  float: right;
  margin-top: 30px;
}
.nav_link {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: #f7711a;
	-webkit-text-stroke: 0.5px #8fC63B;
	line-height: 52px;
	transition: color .3s;
	margin-left: 60px;
	display: inline-block;
  vertical-align: middle;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.nav_link:hover {
	color: #4a3faf;
	border-bottom: 1px solid #4a3faf;
	-webkit-text-stroke: 0px;
	letter-spacing: 1;
}
.nav_link:hover span {
	color: #d12a7b;
}

.content {
	margin-top: 30px;
	width: 100%;
	position: relative;
}

.content h2 {
	text-align: center;
	margin-bottom: 20px;
	font-size: 46px;
	line-height: 1;
	color: #4a3faf;
	margin-top: 0;
}

.content h2 span {
  color: #e52783;
}

.description, .images {
  vertical-align: middle;
	display: inline-block;
}


.description {
  position: relative;
	overflow: hidden;
	width: 555px;
	height: 242px;
  margin: 30px auto;
}

.description div {
  position: absolute;
}

.description p {
  max-width: 500px;
  color: #F7711A;	
  font-size: 24px;
  font-weight: 700;
  -webkit-text-stroke: 0.5px #8fC63B;
  margin-top: 0px;
  margin-left: 20px;
}

.description a {
  text-decoration:none; 
}

#play {
	transform: translateX(-555px);
	transition: transform 0.8s ease;
}

#learn {
	transform: translateX(0px);
	transition: transform 0.8s ease;
}

.btn, .nav {
	width: 180px;
	height: 59px;
  text-transform: uppercase;
	background-color: #F9911A;
	color: #fff;
	text-shadow: 2px 2px 3px #e52783;
	border: 4px solid #8EC63B;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	border-radius: 5px;
	display: block;
	margin: 0 auto;
	outline: none;
	cursor: pointer;
	transition: border-color .3s;
}

.btn:hover {
	border: 4px solid #8b1e99;
}

.images {
	width: 600px;
	height: 335px;
	overflow: hidden;
	position: relative;
}

#slider2 {
	transform: translateX(-605px);
	transition: all 0.7s ease;
}

#slider1 {
	transform: translateX(0px);
	transition: all 0.7s ease;
}

.images img {
  position: absolute;
  top: 0;
  left: 0;
	border-radius: 10px;
	border: 4px solid #F9911A;
  width: 100%;
  /* height: 100%; */
}

.nav {
	width: 60px;
	height: 60px;
	font-size: 45px;
	line-height: 1;
	font-family: 'Roboto';
	padding: 0;
	padding-bottom: 13px;
	border-radius: 40%;
	position: absolute;
	transition: color 0.2s, border-color 0.2s;
}

.nav:hover {
	border: 4px solid #d12a7b;
	color: #d12a7b;
}

#nav_left {
	left: -70px;
	top: 50%;
	transform: translateY(-50%);
	opacity : 0.5;
	border: 4px solid #d12a7b;
	color: #d12a7b;
}
#nav_right {
	right: -70px;
	top: 50%;
	transform: translateY(-50%);
}

/* about us styles */

#about-title {
  text-align: left;
  font-size: 30px;
  color: #F9911A;
  text-shadow: 2px 2px 0px #8fC63B;
  margin: 20px 0 0;
  font-weight: 800;
}

.text {
	color: #424242;	
	font-size: 18px;
	font-weight: 700;
  text-align: left;
  margin: 0;
  max-width: 500px;
}

#about-description,
#members-container {
  display: inline-block;
  vertical-align: top;
}

#members-container {
  text-align: left;
  max-width: 500px;
  position: relative;
  z-index: 5;
  /* width: 100%; */
}

.team-member {
  display: inline-block;
  vertical-align: top;
  margin-left: 60px;
}

.team-member img {
  width: 160px;
}

.team-member h3 {
  margin-top: 0;
  color: #424242;
}

#girrafe-pic {
  position: absolute;
  bottom: 100px;
  right: -80px;
  opacity: 0.9;
}

#toy-pic {
  position: absolute;
  bottom: 0;
  left: 100px;
  height: 200px;
  opacity: 0.9;
}